/* IMPORTATION DES POLICES */

@import url('https://fonts.cdnfonts.com/css/steamflix-montserrat');
@import url('https://fonts.cdnfonts.com/css/montserrat-ace');
@import url('https://fonts.cdnfonts.com/css/montserrat');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* [type='text'],
[type='email'],
[type='url'],
[type='password'],
[type='number'],
[type='date'],
[type='datetime-local'],
[type='month'],
[type='search'],
[type='tel'],
[type='checkbox'],
[type='radio'],
[type='time'],
[type='week'],
[multiple],
textarea,
select {
  @apply py-2 rounded focus:py-2 transition-all border-gray-400 text-sm shadow focus:border focus:border-unstim-primary outline-none focus:ring-0
} */

/* [type='text'].multiselect-tags-search {
  @apply focus:border-none focus:ring-0 outline-none appearance-none;
} */

:root {
  --easy-table-body-row-font-size: 0.85rem;
}

body {
  font-family: 'Montserrat', sans-serif;
  /* font-family: 'Montserrat', sans-serif;
  font-family: 'Montserrat Ace', sans-serif; */
  /* font-family: 'SteamFlix-Montserrat', sans-serif; */
}
.backgroundSygec{
  background-color: rgba(0, 134, 35, 0.8);
  
  }
.form-unstim {
  @apply py-2 rounded focus:py-2 transition-all border-gray-400 text-sm shadow focus:border focus:border-unstim-primary outline-none focus:ring-0;
}
